/*CONFIGURAÇÕES GERAIS*/
:root{
  --color_1: #0000007F;
  --color_2: #181F27;
  --color_3: #ffffff;
}
body{ 
  padding: 0rem;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.font{
  font-family: "Playfair Display", serif;
}
.hidden{
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.titulos-detalhes{
  font-weight: bold;
  border-bottom: 4px solid var(--color_4);
}

/*CABEÇALHO*/

.logo{
    width: 150px;
    
}
.navbar {
    font-size: 18px;
    font-weight: lighter;
    z-index: 999;
    padding-right: 0;
    align-items: baseline;
}

.navbar-toggler{
    background-color: #fff;
  }

.bg-menu{
  width: 98.5%;
  background: radial-gradient(circle, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 98%);
  border-bottom: 1px solid #aaaaaa;
  border-radius: 50px;
  position: absolute;
  z-index: 999;
  height: 80px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 5px;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40;
    font-weight: 500; 
}

.button-contatos{
    color: #fff;
    font-size: 15px;
    font-weight: 500;  
    background-color:#343a40;
    border-radius: 20px;
    align-self: start;
}

.button-contatos:hover{
    color:#eee}

.navbar-light .navbar-nav .nav-link:hover {
  color: #343a40
}

.navbar-custom {
  width: 100%;
}

.espaco-menu{
  padding-bottom: 2rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sub-menu-1 {
  display: none;
}

.dropdown:hover .dropdown-menu-servicos{
  display: block;
}

.dropdown-menu-servicos-cladementos:hover .dropdown-menu-nivel-2{
    display: block;
  }


.abrir-direita {
    float: right;
    color: #fff;
}

.dropdown-item{
  font-weight: 500;
}

.btn-link{
  margin: 5px;
}



#scrollingSection {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* SEÇÃO BANNER */
.video-container {
  position: relative;
  width: -webkit-fill-available;
  z-index: -1;
  overflow: hidden;
  
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.part-historia-a{
  margin-top: 1rem;
  
}

#banner {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  text-align: center;
}

/* Adicionando a frase à direita */
#banner .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .col-md-6 h1 {
  max-width: 70%; /* Ajuste conforme necessário */
  margin-right: 30px; /* Espaçamento entre o texto e o vídeo */
}

.alinhamento-text{
  text-align: -webkit-right;
  margin-top: 20rem;
}

.title-text{
  font-family: "Playfair Display", serif;
  text-align: left;
  font-weight: 800;
  
}
.diferencial-item .text{
  margin-bottom: 0;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  border: 0.5rem solid rgb(29, 29, 29);
  border-radius: 5rem;
  width: 100%;
}

.btn {
  background-color: #ddd;
  border: none;
  color: black;
  text-align: center;
  margin: 0.5rem;
  transition: 1.5s;
}
.btn:hover {
  background-color: #4d58f8;
  color: rgb(255, 255, 255);
}

.banner_parallax{
  background-attachment: fixed;
}

.card_link{
  text-decoration: none;
}

.img-produtos{
  max-height: 255px !important;
  width: auto;
  position: relative;
  transition: 1s ease;
}
.border-ratius{
  border-radius: 2.5rem 0.5rem;
}
.saiba-mais {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 1.5s ease-in;
  color: #ffffff;
  z-index: 1;
 }
 
 .saiba-mais::before,
 .saiba-mais::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
 }
 
 .saiba-mais::before {
  left: -10px;
  background: #000546;
 }
 
 .saiba-mais::after {
  right: -10px;
  background: #18219a;
 }
 
 .saiba-mais:hover::before,
 .saiba-mais:hover::after {
  width: 58%;
 }
 
 .saiba-mais:hover span {
  color: #f8f8f8;
  transition: 0.5s;
 }
 
 .saiba-mais span {
  color: #0c035e;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease-in;
 }
 
 .botao-formulario-enviar {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  background: linear-gradient(90deg, #2c3b7e 0%, #a2ddf8 100%);
  padding: 9px 20px;
  border: solid #ffffff 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 18px 5px;
  border-radius: 5px 25px;
  transition: all 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-size: 200% auto;
  background-position: 100% 0;
}

.botao-formulario-enviar:hover {
  color: #ffffff;
  background-color: #2c3b7e;
  background-position: 0 0;
}



.fundo-forms{
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.5);
  border: 0;
  backdrop-filter: blur(5px);
  border-radius: 4rem;
  color: #fff;
  margin-top: 3rem;
}

.fundo-parallax{
  background-image: url(../images/apresentacao/fundo-forms.jpg) ;
  min-height: 650px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.inovacoes{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.1);
  border: 0;
  backdrop-filter: blur(4px);
  color: #000000;
}

.img-inovacao{
  width: auto;
  margin: 1rem;
  border-radius: 2rem;
}
/*footer*/
.logo-footer{
  border-radius: 3rem;
  height: 120px;
}
.footer-carbono a{
  text-decoration: none;
  color: #ffffff;
}

.footer-carbono{
  background: 
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
/*parte de serviços*/

.banner-servicos{
  background-image: url(../images/banner/servicos-banner.jpg);
  background-position: right;
  background-size: cover;
  height: 75vh; /* Defina a altura do banner aqui */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fundo-texto {
  flex: 1;
  background-color: rgba(0, 0, 1, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100vh;
  width: 50%;
  border-radius: 8rem;
}

.texto-servicos {
  font-weight: 900;
  margin-bottom: 3rem;
  padding: 2rem;
}
/*serviços-desenvolvimento-software*/
.desenvolvimento-software{
  background-image: url(../images/banner/desenvolvedor-software.jpg);
  background-position: top;
  background-size: cover;
  height: 75vh;
  padding: 1rem;
}
.text-h2{
  padding: 1rem;
}

.fundo-cab-servicos {
  text-align: center;
}
.subtitulo-servicos{
  text-align: center;
  max-width: 350px;
}
.fundo-slogan{
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  padding: 1rem;
  backdrop-filter: blur(7px);
  border-radius: 20px 0;
  margin-top: 7rem;
}

.serviços-img{
  height: 500px;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,  0, 0, 0.7), 0 6px 3rem
}
.borda-r{
  border-radius: 2rem;
}

.features-item {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #cccccc96;
  padding: 50px 20px;
  border-radius: 1.5rem;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  }

  .features-item:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 15px 0px #cccccc96;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #ffffff;
    color: #000000;
  }
  .icon i{
    font-size: 45px;
  }
  /*Ciber-segurança*/
  .ciberseguranca{
    background-image: url(../images/banner/seguranca-ciber.jpg);
    background-position: top;
    background-size: cover;
    height: 75vh;
  }
  .section-cirber{
    background-color: #032830;
  }




  
hr{
  border-top: 18px dotted rgb(0, 0, 0)
}


@media screen and (max-width: 992px){
  .title-text{
    font-size: 15px;
  }
  .alinhamento-text{
    margin-top: 10rem;
  }
  .text-h2{
    padding: 0px;
  }
}

